$footerColor: #9C27B0;

.footer {
	background-color: $footerColor;
	color: white;
	display: table-row;
	height: 0;
}

.footer-list {
	margin: 0 auto;
	padding: 0;

	li {
		padding: .5em 0;
	}
}

@media screen and (min-width: 48em) {
	.footer-list {
		width: 20em;
		float: left;
	}
}