$footerColor: #9C27B0;

.footer {
	background-color: $footerColor;
	color: white;
	display: table-row;
	height: 0;
}

.footer-list {
	margin: 0 auto;
	padding: 0;

	li {
		padding: .5em 0;
	}
}

.contact-div {
	padding: 1em;
	width: 100%;
}

.contact-table {
	width: 100%;

	input, textarea {
		color: white;
		background-color: transparent;
		border: 0;
		border-bottom: 2px solid darken($footerColor, 25%);
		outline: 0;
		padding: .5em;
		margin: 0;
		width: 100%;
	}

	input[type="button"] {
		background-color: darken($footerColor, 25%);
	}

	textarea {
		resize: none;
	}
}

@media screen and (min-width: 48em) {
	.footer-list {
		width: 20em;
		float: left;
	}

	.contact-div {
		width: 25em;
		float: right;
	}
}