.header {
  display: table-row;
  margin: 0;
  padding: 0;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  .header img {
    height: 3em;
    padding: .5em; }
  .header .link-padding {
    padding: 1em; }

.header-list {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #9C27B0;
  position: fixed;
  top: 0;
  left: 0; }
  .header-list li {
    width: 100%;
    display: block; }
  .header-list .bottom-border {
    border-bottom: 2px solid #771e86; }

.hamburger {
  position: fixed;
  top: 0;
  right: 0; }

.hamburger, .cross {
  background-color: #9C27B0;
  border: 0;
  outline: 0;
  font-size: 120%;
  color: white;
  padding: 1em;
  text-align: right;
  width: 100%; }
  .hamburger:hover, .cross:hover {
    cursor: pointer; }

.header-link {
  text-decoration: none;
  color: white;
  font-size: 120%;
  font-weight: bold;
  display: block; }

.change-bg:hover {
  background-color: #d176e1; }

@media screen and (min-width: 48em) {
  .header {
    position: relative;
    top: 0;
    left: 0;
    height: 5em; }

  .header-list li {
    position: relative;
    top: 0;
    margin: 0;
    width: auto;
    text-align: center;
    display: inline-block; }
  .header-list .bottom-border {
    border: 0; } }
.logo {
  margin: 0;
  padding: 0; }

/*hamburger menu*/
