$headerBgColor: #9C27B0;
$mobileHeaderHeight: auto;
$headerHeight: 5em;

.header {
	display: table-row;
	margin: 0;
	padding: 0;
	height: $mobileHeaderHeight;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	
	img {
		height: 3em;
		padding: .5em;
	}

	.link-padding {
		padding: 1em;
	}
}

.header-list {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: $headerBgColor;
	position: fixed;
	top: 0;
	left: 0;

	li {
		width: 100%;
		display: block;
	}

	.bottom-border {
		border-bottom: 2px solid darken($headerBgColor, 10%);
	}
}

.hamburger {
	position: fixed;
	top: 0;
	right: 0;
}

.hamburger, .cross {
	background-color: $headerBgColor;
	border: 0;
	outline: 0;
	font-size: 120%;
	color: white;
	padding: 1em;
	text-align: right;
	width: 100%;

	&:hover {
		cursor: pointer;
	}
}

.header-link {
	text-decoration: none;
	color: white;
	font-size: 120%;
	font-weight: bold;
	display: block;
}

.change-bg:hover {
	background-color: lighten($headerBgColor, 25%);
}

@media screen and (min-width: 48em) {
	.header {
		position: relative;
		top: 0;
		left: 0;
		height: $headerHeight;
	}

	.header-list {
		li {
			position: relative;
			top: 0;
			margin: 0;
			width: auto;
			text-align: center;
			display: inline-block;
		}

		.bottom-border {
			border: 0;
		}
	}
}
