.main {
  width: 100%;
  margin-top: 3.8em;
  padding-top: 1em; }

.index-row {
  background-color: black; }

.index-col {
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0.2em; }
  .index-col .ghost-button {
    width: 8em;
    height: 3em;
    margin: 0;
    padding: 0;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all .5s;
    outline: none;
    text-align: center; }
    .index-col .ghost-button:hover {
      background-color: white;
      color: black;
      cursor: pointer; }
  .index-col .index-buttons {
    height: 0;
    position: relative;
    bottom: 5em; }
  .index-col img {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%; }
  .index-col .event-name {
    width: 100%;
    position: relative;
    bottom: 6.5em;
    left: 0;
    margin: 0;
    padding: 0 0 0 1em;
    font-size: 80%;
    color: white;
    background-color: black; }

@media screen and (min-width: 48em) {
  .main {
    margin: 0;
    padding: 0; }

  .index-col .event-name {
    font-size: 110%; } }
